<div class="container-fluid">
    <h2 ng-bind-template="Test Bookshelf: {{query}}">GC&lsquo;s Bookshelf</h2>
    <div class="row">
        <form class="form-horizontal col-md-12 col-sm-12" role="form">
            <div class="form-group col-md-6 col-sm-8">
                <label class="col-md-2 col-sm-2 col-xs-2 control-label" for="bookSearch">Search: </label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <input type="text" ng-model="query" class="form-control input-sm" id="bookSearch" placeholder="Quick filter with book's name or description.">
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-8">
                <label class="col-md-3 col-sm-3 col-xs-3 control-label" for="orderMode">Sort by:</label>
                <div class="col-md-9 col-sm-7 col-xs-5">
                    <select ng-model="orderProp" id="orderMode" class="form-control input-sm">
                        <option value="-year">Newest</option>
                        <option value="year">Oldest</option>
                    </select>
                </div>
            </div>
        </form>
        <ul class="col-md-12 col-sm-12 col-xs-12 row">
            <li ng-repeat="book in books | filter:query | orderBy:orderProp" class="list-unstyled col-md-4 col-sm-6 col-xs-6 bookItem">
                <a href="#/book/{{book.id}}"><img ng-src="{{book.imgUrl}}" class="col-md-5 col-sm-5 col-xs-12"></a>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <a href="#/book/{{book.id}}">{{book.name}}</a>
                    <p class="hidden-xs">{{book.description}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <ul class="pagination">
            <li ng-class="lDisabled"><a href="#/page/{{pageNum - 1}}">&laquo;</a></li>
            <li ng-repeat="page in pagination"><a href="#/page/{{page}}">{{page}}</a></li>
            <li ng-class="rDisabled"><a href="#/page/{{pageNum + 1}}">&raquo;</a></li>
        </ul>
    </div>
</div>