<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><%= title %></a>
        <p class="navbar-text"><%= description %></p>
    </div>
</nav>
<div id="editSuccess" class="alert alert-success alert-dismissable pull-right hidden">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    New information has been <strong>saved!</strong>
</div>
<div class="container">
    <img src="/img/test-book.gif" alt="" class="col-md-3"/>
    <div class="col-md-9">
        <form role="form" method="post" class="col-md-12">
            <div class="form-group col-md-8">
                <label for="id">Book's ID</label>
                <input type="text" class="form-control col-md-6" name="book[id]" id="id" value="">
            </div>
            <div class="col-md-4">
                <label for="createID">Give me a random code for ID</label>
                <button id="createID" name="createID" class="btn btn-info">Create a random ID</button>
            </div>
            <div class="form-group col-md-8">
                <label for="name">Book's Name</label>
                <input type="text" class="form-control" name="book[name]" id="name" value="">
            </div>
            <div class="form-group col-md-4">
                <label for="year">Book's Publish Year</label>
                <input type="number" class="form-control" name="book[year]" id="year" value="">
            </div>
            <div class="form-group col-md-12">
                <label for="description">Book's Description</label>
                <input type="text" class="form-control" name="book[description]" id="description" value="">
            </div>
            <div class="form-group col-md-12">
                <label for="img">Book's Image Url</label>
                <input type="text" class="form-control" name="book[imgUrl]" id="imgUrl" value="">
            </div>
            <div class="form-group col-md-12">
                <label for="note">Note</label>
                <textarea name="book[note]" id="note" class="form-control" cols="30" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>
    </div>
    <footer class="col-md-12">
        <hr />
        <p><a href="#" target="_blank">Guc</a> 2014</p>
    </footer>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script>
    $(function(){
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        }
        $('#createID').click(function(e){
            e.preventDefault();
            var randomID = getRandomInt(11111,99999);
            $('#id').val('book-no-'+ randomID);
            $(e).val(randomID);
        });
    });
</script>
</body>
</html>