<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eorror:<%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <h2><%= errorDetail %></h2>
    <a href="/">Go back to homepage.</a>
</body>
</html>