<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
</head>

<body>
    <nav class="navbar" role="navigation">
        <div class="navbar-header col-md-12">
            <div class="col-md-9 pull-left">
                <a class="navbar-brand" href="/"><%= title %></a>
                <p class="navbar-text"><%= description %></p>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="col-md-4">
            <p>Bookshelf © <a href="http://www.gucheen.pro" target="_blank">Guc</a>2014</p>
        </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>